doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        p #{name} te envío un mensaje
        h1=subject 
        p Mensaje: #{message}
        p Nombre: #{name}
        p Email: #{email}